<% provide(:title, 'All Users') %>
<% if params[:search].blank? %>
  <h1>ユーザー一覧</h1>
<% else %>
  <h1>検索結果</h1>
<% end %>

<div class="row" id="search">
  <div class="col-lg-4">
    <%= form_with(url: users_path, method: :get, local: true) do |f| %>
      <div class="input-group">
      <div style="margin-bottom: 10px; border: 1px solid #333333;">       
        <%= f.submit :'ファイルを選択',:username => nil ,class: "btn btn-outline-dark" %>
      </div>        
        <span class="input-group-btn">
          <%= f.text_field :search, value: params[:search], class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit :'CSVをインポート',:username => nil ,class: "btn btn-primary" %>              
        </span>
      </div>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :Example %></th>
      </tr>
    </thead>
    
    <thead>
      <tr>
        <th><%= User.human_attribute_name :上長A %></th>
      </tr>
    </thead>    
    
    <% @users.each do |user| %>
      <tr>
        <td class="center">
          <% if current_user.admin? && !current_user?(user) %>
          <thead> 
            <th><%= link_to "削除", user, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></th>
          </thead>             
          <thead>
            <!--<th>< %= link_to "編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-primary btn-lg" %></th>-->
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"　button type="button" class="btn btn-primary btn-lg" >編集</a>
              </div>
              <div id="collapse3" class="panel-collapse collapse in">
                <div class="panel-body">
                 <!--< % @users %>-->
                 <!--< % @users.each do |user| %>-->
                 <!--< %= render 'edit_basic_info', user %> -->
                 <!--< %= render 'edit' %>-->
                 <!--< %= render 'edit', id: @users.id %>-->
            <%= render 'edit_basic_info', object: @users %>
                </div>
              </div>
            </div>
          </thead>  
          <% end %>
        </td>                                                                    
      </tr>
    <% end %>    
    
<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

